/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
/coverage
/.vagrant
/*.sublime-*
/_ide_helper*
/.phpstorm.*
Vagrantfile
.env-*
.env.*
!.env.example
common.env
*~
/.idea
/composer.lock
